{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, possimus cumque a iusto obcaecati voluptatibus dolor quia error dolores ab officiis harum? Adipisci perferendis saepe eligendi in officia autem quod, quisquam, nam sint magnam tempora earum reiciendis rerum non! Error aliquam assumenda neque soluta adipisci. Quo iusto, in itaque dolorum, illo quam pariatur delectus repellat soluta officiis atque et. Repellendus odio consequuntur alias iusto odit asperiores recusandae fuga reiciendis repudiandae hic, tempore accusantium quisquam modi reprehenderit eaque illum natus sequi, totam aliquid neque? Neque deleniti tempore modi. Labore soluta tempore fuga excepturi dolorum saepe ducimus placeat, asperiores, aperiam, nihil eaque!</p>
{% endblock%}